https://www.kaggle.com/c/titanic
https://www.kaggle.com/alexisbcook/titanic-tutorial   
https://app.dataquest.io/m/289/introduction-to-numpy/7/selecting-columns-and-custom-slicing-ndarrays
https://neurohive.io/ru/osnovy-data-science/razbor-resheniya-zadachi-titanik-na-kaggle-dlya-nachinajushhih/

In [1]:
import csv
import numpy as np
import pandas as pd
import seaborn as sns
trd = pd.read_csv('train.csv')
tsd = pd.read_csv('test.csv')
td = pd.concat([trd, tsd], ignore_index=True, sort = False)

In [ ]:
td.head()

In [ ]:
td.info()

In [ ]:
#Тепловая карта пропущенных значений

td.isnull().sum()
sns.heatmap(td.isnull(), cbar = False).set_title("Missing values heatmap")

In [ ]:
titanic['Parch'].value_counts()

In [ ]:
titanic.describe(include="all")

In [ ]:
titanic.loc[:10, ["Age", "Sex"]]

In [ ]:
titanic["Age"].unique()
titanic["Age"].mean()
titanic_age = titanic['Age'].value_counts()
age_24_30 = titanic_age.loc[[24.00, 30.00]]

In [ ]:
#Зависимая и независимые переменные. Сортировка выживших по полу и возрасту
titanic[["Survived", "Age", "Sex"]].value_counts().loc[1]

In [ ]:
#Зависимая и независимые переменные. Средняя доля выживших и среднее по возрасту и цене билета
titanic[["Survived", "Age", "Fare"]].mean(axis=0)

In [ ]:
titanic.max(numeric_only = True)

In [ ]:
#Получение строк по заданным значениям столбцов
titanic[titanic["Sex"].isin(['male'])]

In [ ]:
#Сортировка
titanic.sort_values('Age', ascending=False)

In [ ]:
#Агрегирование. Подсчет количества записей
titanic.groupby('Fare').count()