In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, log_loss
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC, LinearSVC
from sklearn.preprocessing import LabelEncoder
from sklearn.calibration import CalibratedClassifierCV
%matplotlib inline

trd = pd.read_csv('train.csv')
tsd = pd.read_csv('test.csv')
df = pd.concat([trd, tsd], ignore_index=True, sort  = False)

In [11]:
df.head()

   PassengerId  Survived  Pclass     Sex       Age  SibSp  Parch     Fare
0            1       0.0       3    male  (20, 30]      1      0   7.2500
1            2       1.0       1  female  (30, 40]      1      0  71.2833
2            3       1.0       3  female  (20, 30]      0      0   7.9250
3            4       1.0       1  female  (30, 40]      1      0  53.1000
4            5       0.0       3    male  (30, 40]      0      0   8.0500

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Sex          1309 non-null   object
 4   Age          1046 non-null   category
 5   SibSp        1309 non-null   int64
 6   Parch        1309 non-null   int64
 7   Fare         1308 non-null   float64
dtypes: category(1), float64(2), int64(4), object(1)
memory usage: 73.4+ KB

In [10]:
df.isna().sum()

PassengerId      0
Survived       418
Pclass           0
Sex              0
Age            263
SibSp            0
Parch            0
Fare             1
dtype: int64

In [4]:
df = df.drop(['Name', 'Ticket', 'Cabin', 'Embarked'], axis=1)

In [5]:
df.dropna()

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0              1       0.0       3    male  22.0      1      0   7.2500
1              2       1.0       1  female  38.0      1      0  71.2833
2              3       1.0       3  female  26.0      0      0   7.9250
3              4       1.0       1  female  35.0      1      0  53.1000
4              5       0.0       3    male  35.0      0      0   8.0500
..           ...       ...     ...     ...   ...    ...    ...      ...
885          886       0.0       3  female  39.0      0      5  29.1250
886          887       0.0       2    male  27.0      0      0  13.0000
887          888       1.0       1  female  19.0      0      0  30.0000
889          890       1.0       1    male  26.0      0      0  30.0000
890          891       0.0       3    male  32.0      0      0   7.7500

[714 rows x 8 columns]

In [9]:
df['Age'].unique()

[(20.0, 30.0], (30.0, 40.0], NaN, (50.0, 60.0], (0.0, 10.0], (10.0, 20.0], (60.0, 70.0], (40.0, 50.0], (70.0, 80.0]]
Categories (8, interval[int64]): [(0, 10] < (10, 20] < (20, 30] < (30, 40] < (40, 50] < (50, 60] < (60, 70] < (70, 80]]

In [8]:
df['Age'] = pd.cut(df.Age, [0, 10, 20, 30, 40, 50, 60, 70, 80])

In [ ]:
fig_sex = (trd.Sex.value_counts(normalize = True) * 100).plot.bar()
male_pr = round((trd[trd.Sex == 'male'].Survived == 1).value_counts()[1]/len(trd.Sex) * 100, 2)
female_pr = round((trd[trd.Sex == 'female'].Survived == 1).value_counts()[1]/len(trd.Sex) * 100, 2)
sex_perc_df = pd.DataFrame(
    { "Percentage Survived":{"male": male_pr,"female": female_pr},  "Percentage Not Survived":{"male": 100-male_pr,"female": 100-female_pr}})
sex_perc_df.plot.barh().set_title("Percentage of male and female survived and Deceased")
fig_sex

In [ ]:
survived = df[df['Survived']==1][x].value_counts()
dead = df[df['Survived']==0][x].value_counts()

In [ ]:
def fig_chart(feature, df):
    describe = df['feature'].unique()
    update_sur = {}
    update_dead = {}
    for x in describe:
        
        x_pr = round((df[df.feature == x].Survived == 1).value_counts()[1]/len(df.feature) * 100, 2)
        update_sur[x] = x_pr
        update_dead[x] = 100-x_pr      
    
    df = pd.DataFrame({"Survived, %": update_sur, "Not Survived, %": update_dead})
    df.plot.barh().set_title("Percentage of survived and Deceased")

In [ ]:
fig_chart(Sex, df)

In [ ]:
describe = df['feature'].unique()
update_sur = {}
update_dead = {}
for x in describe:
    x_pr = round((df[df.feature == x].Survived == 1).value_counts()[1]/len(df.feature) * 100, 2)
    update_sur[x] = x_pr
    update_dead[x] = 100-x_pr      
    
df = pd.DataFrame({"Survived, %": update_sur, "Not Survived, %": update_dead})
df.plot.barh().set_title("Percentage of survived and Deceased")

In [ ]:
df['Sex'] = LabelEncoder().fit_transform(df['Sex'])

In [ ]:
#Создаем фрейм для предсказания
X_to_be_predicted = tsd.drop(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'], axis=1)
X_to_be_predicted['Sex'] = LabelEncoder().fit_transform(X_to_be_predicted['Sex'])

In [ ]:
X_to_be_predicted.shape

In [ ]:
#Подготовка обучающей и тестовых выборок
train_data = df #Выбираем фрейм
train_data = train_data.dropna() #В новом фрейме чистим от пустых строк
y = train_data['Survived'] #Зависимая переменная
X = train_data.drop(['Survived'], axis = 1) #Предикторы
train_data.shape

In [ ]:
#Расщепление на обучающую и тестовые выборки
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42,                                                    
                                                    test_size=0.2 # доля объёма тестового множества
                                                   )

In [ ]:
model = RandomForestClassifier(criterion='gini', 
                               n_estimators=300,
                               min_samples_split=10,
                               min_samples_leaf=1,
                               max_depth=3, #Макс число слоев 
                               max_features='auto',
                               oob_score=True,
                               random_state=42,
                               n_jobs=-1,
                               warm_start=False, #использовать результаты предыдущего вызова и нарастить предыдущий лес
                               class_weight=None )

model.fit(X_train, y_train)
result = model.predict(X_to_be_predicted)

print("RF Accuracy: "+repr(round(model.score(X_test, y_test) * 100, 2)) + "%")

result_rf=cross_val_score(model, X_train, y_train, cv=10, scoring='accuracy')

print('The cross validated score for Random forest is:',round(result_rf.mean()*100,2))
y_pred = cross_val_predict(model, X_train, y_train, cv=10)

#Важность вклада предикторов
pd.DataFrame({'feature': X.columns,
              'importance': model.feature_importances_}).sort_values('importance', ascending=False)

In [ ]:
submission = pd.DataFrame({'PassengerId':X_to_be_predicted.PassengerId,'Survived':result})
submission.Survived = submission.Survived.astype(int)
print(submission.shape)
filename = 'Titanic_test_predictions.csv'
submission.to_csv(filename,index=False)
print('Saved file: ' + filename)